

<section class="hero">
<h1 class="hero-title">Higienize SC</h1>
<p class="hero-text">Higienização de estofados em toda Grande Florianópolis.</p>
 <a href="https://wa.me/5548991101206" target="_blank">
 <button class="hero-button">
       Solicitar orçamento
       </button >
    </a>
</section>
<section class="before-after">
<h2 class="section-title">
    Veja nossos resultados
</h2>
 <p class="section-subtitle">
        Confira a diferença real após a higienização
    </p>
<div class="before-after-container">

        <div class="before-after-item">
            <img src="/img/before.png" alt="Antes">
            <img src="/img/after.png" alt="Depois">
            
        </div>

    </div>





</section>